#page-mod-choosegroup-view #dates {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#page-mod-choosegroup-view #dates .c0 {
  text-align: left;
  font-weight: bold;
}

#page-mod-choosegroup-view .main {
    width: 70%;
    margin-bottom: 50px;
}

#page-mod-choosegroup-view .main2 {
    width: 98%;
    margin-bottom: 50px;
}

#page-mod-choosegroup-view .main li {
    list-style-type: none;
}

.choosegroup_center{
    text-align:center;
}

.choosegroup_left{
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.choosegroup_right{
    float: right;
    position: relative;
    width: 70%;
    margin-bottom: 10px;
    }

.show-users-group{
    margin-top: 20px;
    width: 100%;
}

.users-group{
    float: right;
    position: relative;
    width: 70%;
}

.choosegroup_clear{
    clear: both;
}

.choosegroup-table{
    border: 0 none;
}

.user-group{
    float: left;
    position: relative;
}

.user-group-names{
    width: 150px;
    padding-bottom: 3px;
    float: left;
    position: relative;
}

.user-group-names img,
.user-col-pic img{
    vertical-align: middle;
}

.user-group-names .user-name{
    margin-left: 4px;
}

.user-col{
    width: 100%;
}

.user-col-pic{
    float: left;
}

.user-col-name{
    overflow: hidden;
    padding-left: 4px;
}

.user-group-col{
    float: left;
    width: 33%;
}
